.register-container {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.register-container h1,
.register-container p {
  text-align: center;
  font-weight: bold;
}
